*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior:smooth;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    background-color: black;
    height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

}

#navigation{
    display: inline-block;
}
#navigation .subnav{
    display: flex;
}
#navigation .subnav li{
    list-style: none;
}
.subnav li>a{
    display: block;
    color: aliceblue; 
    line-height: 46px;
    text-decoration: none;
    padding-left: 24px;
    padding-right: 24px;
    text-transform:uppercase;
}
.subnav i{
    font-size: 15px;
    padding-left: 5px;
}
.subnav li:hover >a{
    color: black;
    background: #ccc;
    position: relative;
}
.subnav li:hover .sub{
   
    display: block;
}
.sub{
    display: none;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-width: 160px;
}

.sub li a{
    color: black;
    background-color: white;
    text-transform: capitalize;
    line-height: 38px;

    
}
.menu-mobile{
    display: none;
    float: right;
    position: absolute;
    top :0;
    right: 21px;
    
}
.menu-mobile i{
    color: white;
    font-size: 25px;
    line-height: 46px;
    padding: 0 21px;
}
.menu-mobile:hover{
    background-color: rgb(218, 80, 39);
    cursor: pointer;
}

#search{
    float: right;
}
#search i{
    color: white;
    font-size: 25px;
    line-height: 46px;
    padding: 0 21px;
    
}
#search:hover{
    background-color: rgb(218, 80, 39);
    cursor: pointer;
}
/*Slider*/
#slider{
    padding-top: 50%;
    background-image: url(/assets/css/img/slider1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    max-width: 100%;

}
#slider #text-slider{
    position: absolute;
    bottom: 48px;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0 0 1px #000;
}
#slider #text-slider .text{
    padding-bottom: 20px;
    text-shadow: inherit;
}

/* content*/
.clear{
    clear: both;
}
#content .text-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}
.text-section .text-heading{
    text-align: center;
    line-height: 45px;
    padding: 10px 0;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
    
}
.text-section .text-sub-heading{
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    opacity: 0.6;
    font-style: italic;
    margin: 15px 0;
}
.text-section .text-about{
    text-align: justify;
    font-size: 15px;
    line-height:1.5;
}
#content .name-about {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    
}
#content .sub-name-about{
    width: 33.33%;
    text-align: center;
}
#content .name{
    font-size: 15px;
}
#content .sub-name-about img{
    margin-top: 15px;
    width: 80%;
    border-radius: 4px;
}
#tour{
    background-color:black ;
    color: white;
}
#tour .buy-ticket{
    margin: 25px 0;
}
#tour .buy-ticket ul{
    background-color: white;
    color: #757575;
    list-style: none;
}
#tour .buy-ticket li{
    padding: 8px 16px;
    border-bottom: 1px solid #757575;
    line-height: 22.5px;
}
#tour li .out{
    background-color: #f44336;
    color: white;
    margin-left: 16px;
    padding: 0px 8px;
}
#tour li .sub-tikket{
    background-color: black;
    color: white;
    padding: 0px 8px;
    line-height: 1.5;
    float: right;
    margin-right: 16px;
    border-radius: 100%;
}
#tour .third{
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px ;
    margin-right: -8px;
    margin-bottom: 32px
}
#tour .sub-third{
    width: calc(100% / 3 );
    padding: 0 8px;
 
}
#tour .sub-third img{
    width: 100%;
    display: block;
    
}
#tour .sub-third img:hover{
    opacity: 0.6;
}
#tour .text-third{
    background-color: aliceblue;
    padding:16px;
    color: black;
    font-size: 15px;
}
.text-third .text-head {
    font-size: 15px;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 15px;
}
.sub-text-head {
    opacity: 0.6;
    margin: 15px 0;
}
.text-content {
    margin: 15px 0;
}
.btn {
    background-color: #000;
    padding: 8px 16px;
    display: inline; 
    border: 0; 
    cursor: pointer;
}
.btn {
    color: white;
   
}
.btn:hover{
    background-color:#757575 ;
}

/* Modal*/
#modal{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: none;
    align-items: center;
    justify-content: center;
}
/*.modal.open{
    display: flex;
}*/
#modal-wrapper{
    background-color:#fff;
    width: 900px;
    position: relative;
}
.modal-close {
    position: absolute;
    top :0px;
    right: 0px;
    padding: 15px;

}
.modal-close i{
    color: #fff;
}
.modal-close:hover{
    background-color: #757575;
}
.fa-solid {

}
.modal-heading {
    text-align: center;
    padding: 32px 16px;
    background-color: #009688;
    color: white;

}
.modal-heading .sub-modal-heading{
    line-height: 45px;
    letter-spacing: 4px;
    font-size: 30px;
    margin: 10px;
    font-weight: 400;
}
.fa-suitcase {
    padding-right: 16px;

}
.modal-content {
    font-size: 15px;
    padding: 0px 16px;
    display:block;
    max-width: calc(100% -32px);

}
.modal-content .modal-lable {
    line-height: 1.5;
    margin: 15px 0px;

}
.fa-cart-flatbed,.fa-user{
    padding-right: 5px;

}
.modal-text-name{
    width: 100%;
    padding: 8px;
    line-height: 1.5;
}
.modal-buy {
    display: block;
    width: 100%;
    padding: 16px;
    margin: 16px 0px;
    background-color: #009688;
    color: white;
    line-height: 22.5px;
    font-weight: 600;
    
}
.modal-buy .fa-check{
    font-weight: 700;
    font-size: 15px;
}
.modal-buy:hover{
    background-color: #c9c4c4;
    color: #000;
    cursor: pointer;
}

.model-footer{
    display: block;
    float: right;
    line-height: 22.5px;
    font-size: 15px;
    margin: 15px 0px;
}
.model-footer a{
    color: blue;
}
/* Contact*/
#contact .contact-content{
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
}
#contact .sub-contact-content{
    width: 50%;
    font-size: 18px;
}
#contact .sub-contact-content i{
    width: 30px;
    display: inline-block;
}

.name-email{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;

}
#contact .enter-contact .name{
    width: calc(50% - 5px);
    height: 30px;
    padding: 8px;
}
#contact .enter-contact .email{
    padding: 8px;
    width: calc(50% - 5px);
    height: 30px;
}
#contact .enter-contact .mess{
    width: 100%;
    height: 30px;
    padding: 8px;
    border: 1px solid;
}
#contact .enter-contact .send{
    float: right;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 8px 16px; background-color: #000;
    color: white;
}
#contact .enter-contact .send:hover{
    opacity: 0.8;
}
.img-map img{
    width: 100%;
}
#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer i{
    color: #000;
    font-size: 24px;
    width: 30px;
    height: 40px;
    opacity: 0.8;
}
#footer .footer-bottom p{
    font-size: 15px;
    line-height: 1.5;
    margin: 15px 0px;
    color: #000;
    opacity: 0.8;

}
#footer .footer-bottom a{
    font-size: 15px;
    line-height: 1.5;
    margin: 15px 0px;
    color: #000;
    opacity: 0.8;
}
